.container {
    background-color: #666;
    width: 100%;
    height: calc(100vh - 8rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_container {
    flex-basis: 60rem;
    margin: 0 2rem;

    h2 {
        color: #222;
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: #fff;
    }

    h3 {
        color: #ccc;
        font-size: 1.4rem;
        text-align: right;
        margin-right: 3rem;
    }
}