* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  html {
    /* 1rem = 16px , to make 1rem = 10px = (10/16 * 100 = 62.5%) */
    font-size: 62.5%;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }